<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let country of countriesData">
    <img src={{country.flag}} alt={{country.alt}} />
    <div class="ion-padding">
      <ion-card-title>{{country.name}}</ion-card-title>
      <ion-button fill="outline" expand="block" (click)="openNews(country.code, country.name)">
        News
      </ion-button>
      <ion-button fill="outline" expand="block" (click)="openWeather(country.capital, country.latitude, country.longitude)">
        Weather
      </ion-button>
      <ion-button fill="outline" expand="block" (click)="openHolidays(country.code, country.name)">
        Holidays
      </ion-button>
    </div>
  </ion-card>
  <ion-buttons>
    <ion-back-button default-href="/"></ion-back-button>
  </ion-buttons>
</ion-content>

