<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card *ngFor="let country of countriesData">
    <img src={{country.flag}} alt={{country.alt}} />
    <ion-card-header>
      <ion-card-title>{{country.name}}</ion-card-title>
    </ion-card-header>
    <ion-button expand="full" fill="outline" (click)="openNews()">News</ion-button>
    <ion-button expand="full" fill="outline">Weather</ion-button>
  </ion-card>
</ion-content>
